.book-name-title-label, .chapter-name-label, .author-name-label, .key-ideas-label, .main-takeaway-label, .questions-label {
  font-size: 0.85em;
}

.key-ideas {
  padding: 5px;
  border-radius: 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #1e272e;
  width: 40%;
  outline: none;
  min-width: 100%;
}

.main-takeaway, .questions {
  outline: 1px solid #1e272e;
  padding: 5px;
  border-radius: 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #1e272e;
  width: 40%;
  outline: none;
  min-width: 100%;
}

.label {
  margin: 0.75em 0 0 0;
}
